div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.secTextDiv p{
    margin: 0em .7em
}
body{
    width: 50%;
    margin: auto;
    justify-content: center;
}
.secTextDiv p:nth-child(2){
    display: inline-block;
    background-color: #eae8e8;
    border: solid .3em #3f3f3f34;
    border-radius: 7px;
    padding: 0.2em 1.2em;
    justify-self: start;
}
#storyText{
    display: block;
    background-color: #eae8e8;
    border: solid .3em #25252534;
    justify-self: start;
    box-sizing: content-box;
    border-radius: 7px;
    margin: auto;
    padding: 0.2em 1.2em;
}
.sectionText{
    text-align: left;
}

#storySection{
    align-items: center;
}

div button{
    justify-self: right;
}
#storySection button{
    width: 80%;
    margin: auto 10%;
}
.secTextDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2{
    margin-top: 12em;
    font-family: arial, sans-serif;
}

button{
    background-color: #8ac5c9; 
    border: solid .3em #5a9fa4;
    border-radius: 12px;
    padding: 0.5em .7em;
    width: 10em;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: .3em 1em;
    cursor: pointer;
}

button:hover{
    background-color: #5a9fa4;
    color: white;
}